.body {
  color: purple;
  list-style: none;
}

.div_list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  list-style: none;
  gap: 8rem;
}

.btn {
  background-color: #ff00d9;
  color: #fff;
  padding: 0.2rem 1rem;
  border: 2px solid purple;
  cursor: pointer;
  border-radius: 3px;
}
.favSeries {
  background-color: yellow;
  color: #ff00d9;
  list-style: none;
}
